@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria-imagens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria-imagens img {
    width: 30%;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
